<div class="container-fluid mt-3">


  <div class="text-center mt-3">
    <h3> {{ dni | uppercase }} - {{ nomtutor | uppercase }} </h3>
  </div>

 <!-- BOTONES  -->
 <div class="text-center mb-3">
  <div class="d-inline-block">

  <div class="btn-toolbar mx-auto" role="toolbar" aria-label="Toolbar with button groups">
   
    <div class="btn-group mr-2" role="group" aria-label="Third group">
      <button type="button" class="btn btn-secondary" (click)="onRegresar()">Atras</button>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Third group">
      <button type="button" class="btn btn-secondary" >Nueva Alta</button>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Third group">
      <button type="button" class="btn btn-secondary" (click)="verTipo(4)">Navegar TutorAlum</button>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Third group">    
      <button type="button" class="btn btn-secondary" (click)="verTipo2(4)">Navegar TutorAlum2</button>
    </div>
    <!--
    <div class="btn-group mr-2" role="group" aria-label="Third group">
      <button type="button" class="btn btn-secondary" >Alta Adj.</button>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Third group">
      <button type="button" class="btn btn-secondary" >Baja Adj.</button>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Third group">
      <button class="btn btn-secondary" >Autorizados</button>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Third group">
      <button type="button" class="btn btn-secondary">Dias Venta.</button>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Third group">
      <button type="button" class="btn btn-secondary">Exped</button>
    </div>
   -->
  </div>

  </div>

</div>

<!-- FIN BOTONES-->



  <div *ngIf="!cargando && expedientes.length == 0">
    <app-noresultados></app-noresultados>
  </div>

  <div *ngIf="cargando">
    <app-cargando></app-cargando>
  </div>


  <app-expedientes-grid *ngIf="expedientes.length>0" [expedientes]="expedientes">
  </app-expedientes-grid>


</div>