<h3 class="mb-4 text-center">Generacion de Recibos</h3>

<form class="mb-4 mt-2">
  <div class="form-row">
    <div class="form-group col-md-2">
      <label class="font-italic font-weight-bold">Ejercicio</label>
      <input #ejercicio type="number" class="form-control" placeholder="Año academico" value="{{anyo_actual}}">
    </div>

    <div class="form-group col-md-2">
        <label class="font-italic font-weight-bold">Mes Recibo</label>
        <select class="form-control" 
        #mes
        name = "mes">
        <option [value]="mes.COD_MES" *ngFor="let mes of meses;let i = index">
            {{mes.DES_MES}}
        </option>
      </select>
    </div>
    
    <div class="form-group col-md-2">
        <label class="font-italic font-weight-bold">Año de cargo</label>
        <input #anyocargo type="number" class="form-control" placeholder="Año de cargo" value="{{anyo_actual}}">
      </div>

    <div class="form-group col-md-2">
        <label class="font-italic font-weight-bold">Operaciones</label>
       <button (click)="generarRecibos(ejercicio.value, mes.value)" type="button"
       class="form-group mx-sm-2 btn btn-outline-primary">
       <i class="fa fa-search"></i>
        Generar
       </button> 
    </div>

    <!-- <div *ngIf="informealumnos.length>0" class="form-group col-md-2">
        <button (click)="generarTablaPdf()" type="button" class="btn btn-outline-danger mb-2 ml-2">
            <i class="fas fa-file-download"> Descargar Pdf </i>
        </button>
    </div>   -->
  

  </div>

</form>

