

<h3 class="mb-5 text-center mx-auto">Generaci&oacute;n de Recibos</h3>


<form class="mb-3">
  <div class="form-row">
    <label class="font-italic font-weight-bold mr-1">Ejercicio</label>
    <div class="form-group col-md-1 mr-2">
      <input #ejercicio type="number" class="form-control" placeholder="Año academico" value="{{anyo_actual}}">
    </div>
    <!-- <div class="form-group col-md-3">
      <label class="sr-only">Escuela</label>
      <input #escuela type="text" class="form-control" placeholder="Escuela">
    </div> -->
    <label class="font-italic font-weight-bold mr-1">Mes Recibo</label>
    <div class="form-group col-md-2 mr-2">
      
      <select class="form-control" 
      #mes
      name = "mes">
      <option [value]="mes.COD_MES" *ngFor="let mes of meses;let i = index">
          {{mes.DES_MES}}
      </option>
    </select>
    
    </div>
    <label class="font-italic font-weight-bold mr-1">Año de cargo</label>
    <div class="form-group col-md-1 mr-2">
     
      <input #anyocargo type="number" class="form-control" placeholder="Año de cargo" value="{{anyo_actual}}">
  </div>
 
  <div class="form-group col-md-4">
   
     <button (click)="generarRecibos(ejercicio.value, mes.value)" type="button"
     class="form-group mx-sm-2 btn btn-outline-primary mr-2">
     <i class="far fa-file-alt"></i>
      Generar
     </button> 
     
     <button (click)="generarReciboTxt(ejercicio.value, mes.value,anyocargo.value)" type="button"
     class="form-group mx-sm-2 btn btn-outline-success mr-2">
     <i class="far fa-file-alt"></i>
      Descargar Txt
     </button> 
     
     <!-- <a [href]="fileUrl" download="fichero{{anyo_actual}}_mes.txt">
      <button (click)="pruebaReciboTxt(ejercicio.value, mes.value,anyocargo.value)" type="button"
      class="form-group mx-sm-2 btn btn-outline-success mr-2">
      <i class="far fa-file-alt"></i>
       PRUEBA Txt
      </button> 
    </a> -->


    <a [href]="fileUrl" download="fichero{{anyo_actual}}_mes.txt">
      <button (click)="generarReciboTxt(ejercicio.value, mes.value,anyocargo.value)" type="button"
      class="form-group mx-sm-2 btn btn-outline-success mr-2">
      <i class="far fa-file-alt"></i>
       PRUEBA Txt
      </button> 
    </a>

     <button *ngIf="recibosAlumnos.length>0" (click)="generarTablaPdf()" type="button" 
      class="form-group btn btn btn-outline-danger ">
      <i class="fas fa-file-download">  Pdf </i>
  </button>
    
  </div>
  

  </div>

</form>






<div *ngIf="!cargando && recibosAlumnos.length == 0">
  <app-noresultados></app-noresultados>
</div>

<div *ngIf="cargando">
  <app-cargando></app-cargando>
</div>

<app-recibos-grid *ngIf="recibosAlumnos.length>0" [recibosAlumnos]="recibosAlumnos" [periodo]="periodo"></app-recibos-grid>


