<div *ngIf="expediente.COD_TUTOR>0" class="container-fluid mt-2">

  <div class="mt-3 text-center text-capitalize font-weight-bold">
    <h5>DATOS TUTOR</h5>
    <h5> {{ dniTutor | uppercase }} - {{ nombreTutor | uppercase }} </h5>
  </div>


  <form class="mt-1" (ngSubmit)="guardar(f)" #f="ngForm">

    <!-- BOTONES  -->
    <div class="text-center mb-2">
      <div class="d-inline-block">
        <div class="btn-toolbar mx-auto" role="toolbar" aria-label="Toolbar with button groups">

          <div class="btn-group mr-2" role="group" aria-label="Third group">
            <button type="button" class="btn btn-outline-secondary">Atras</button>
          </div>
          <!-- <div class="btn-group mr-2" role="group" aria-label="Third group">
          <button type="button" class="btn btn-outline-success">
            <i class="fas fa-save"></i>
            Guardar Exped.</button>
        </div>  -->

          <div class="btn-group mr-2" role="group" aria-label="Third group">
            <button type="submit" class="btn btn-outline-success">
              <i class="fas fa-save"></i>
              Guardar Exped.</button>
          </div>

          <div *ngIf="matriculas.length == 0 && editarExp" class="btn-group mr-2" role="group" aria-label="Third group">
            <button type="button" class="btn btn-outline-danger"
            (click)="eliminarExpediente(numexp)">
              <i class="far fa-trash-alt"></i>
              Borrar Exp.
            </button>
          </div>
          <!-- <div *ngIf="matriculas.length > 0 && editarExp" class="btn-group mr-2" role="group" aria-label="Third group">
            <button type="button" class="btn btn-outline-primary">
              Editar Matricula</button>
          </div> -->

        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-2">
        <label class="font-italic font-weight-bold">Nº Exp:</label>
        <input type="text" class="form-control" #num_expediente="ngModel" name="num_expediente"
          [(ngModel)]="expediente.NUM_EXPEDIENTE" readonly>
      </div>
      <div class="form-group col-md-4">
        <label class="font-italic font-weight-bold">Parentesco</label>
        <select class="form-control" #parentesco="ngModel" name="parentesco" [(ngModel)]="expediente.PARENTESCO">
          <option [value]="parentesco.COD_PARENTESCO" *ngFor="let parentesco of listaParentesco"
            [selected]="parentesco.COD_PARENTESCO === expediente.PARENTESCO">{{parentesco.DESC_PARENTESCO}}
          </option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <!-- <span class="label label-info text-info">Alumno</span> -->
        <label class="font-italic font-weight-bold">Alumno</label>
        <input type="text" class="form-control" #nombre_alumno="ngModel" name="nombre_alumno"
          [class.is-invalid]="nombre_alumno.invalid && nombre_alumno.touched" [(ngModel)]="expediente.NOMBRE_ALUMNO">
        <small *ngIf="nombre_alumno.invalid && nombre_alumno.touched" class="form-text text-danger">Ingrese 5
          letras</small>
      </div>
      <div class="form-group col-md-2">
        <label class="font-italic font-weight-bold">Fecha Nacimiento</label>
        <input type="date" class="form-control" required #fecha_nacimiento="ngModel" name="fecha_nacimiento"
          [class.is-invalid]="fecha_nacimiento.invalid && fecha_nacimiento.touched"
          [(ngModel)]="expediente.FECHA_NACIMIENTO">
      </div>

    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="font-italic font-weight-bold">Escuela</label>
        <select class="form-control" #parentesco="ngModel" name="escuela" [(ngModel)]="expediente.COD_ESCUELA">
          <option [value]="escuela.COD_ESCUELA" *ngFor="let escuela of escuelas"
            [selected]="escuela.COD_ESCUELA === expediente.COD_ESCUELA">{{escuela.DESC_ESCUELA}}
          </option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label class="font-italic font-weight-bold">Fecha Alta</label>
        <input type="date" class="form-control" required #fecha_alta="ngModel" name="fecha_alta"
          [class.is-invalid]="fecha_alta.invalid && fecha_alta.touched" [(ngModel)]="expediente.FECHA_ALTA">
      </div>
      <div class="form-group col-md-2">
        <!--   <label class="font-italic font-weight-bold">Mes Julio</label> -->

        <!--   <div class="form-check form-check-inline"> 
          <div>  
            <input class="form-check-input form-control" name="mes_julio" value="Y" [(ngModel)]="expediente.MES_JULIO" required #mes_julio="ngModel" type="radio">
            <label class="form-check-label font-weight-bold">Si</label>
    
            <input class="form-check-input form-control" name="mes_julio" value="N" [(ngModel)]="expediente.MES_JULIO" required #mes_julio="ngModel" type="radio">
            <label class="form-check-label font-weight-bold">No</label>
        </div> 
        -->
        <label class="font-italic font-weight-bold" for="ckb1">
          Mes de Julio
        </label>
        <input [(ngModel)]="mesjulioactivo" class="form-control " id="ckb1" type="checkbox" name="remember-me">

      </div>

    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label class="font-italic font-weight-bold">Motivo Variacion</label>
        <!--  <input type="text" class="form-control" required #variacion="ngModel" name="variacion"
          [class.is-invalid]="variacion.invalid && variacion.touched" [(ngModel)]="expediente.DESC_VARIACION">
        -->
        <select class="form-control" #variacion="ngModel" name="variacion" [(ngModel)]="expediente.COD_VARIACION">
          <option [value]="variacion.COD_VARIACION" *ngFor="let variacion of tiposVariaciones"
            [selected]="variacion.COD_VARIACION === expediente.COD_VARIACION">{{variacion.DESC_VARIACION}}
          </option>
        </select>

      </div>
      <div class="form-group col-md-4">
        <label class="font-italic font-weight-bold">Fecha Variacion</label>
        <input type="date" class="form-control" required #fecha_variacion="ngModel" name="fecha_variacion"
          [class.is-invalid]="fecha_variacion.invalid && fecha_variacion.touched"
          [(ngModel)]="expediente.FECHA_VARIACION">
      </div>
      <div class="form-group col-md-4">
        <label class="font-italic font-weight-bold">Fecha Gestion</label>
        <input *ngIf="editarExp" type="date" class="form-control" required readonly #fecha_gestion="ngModel"
          name="fecha_gestion" [class.is-invalid]="fecha_gestion.invalid && fecha_gestion.touched"
          [(ngModel)]="expediente.FECHA_GESTION">

        <input *ngIf="!editarExp" type="text" class="form-control" required readonly value={{expediente.FECHA_GESTION}}
          name="fecha_gestion">

      </div>
    </div>
  </form>

  <!--  LISTA MATRICULAS DEL ALUMNO  -->

  <div class="mb-2 text-center text-capitalize font-weight-bold">
     <!--  <h4>MATRICULAS</h4>   -->
    MATRICULAS DEL EXPEDIENTE
  </div>

  <!-- <div class="form-row">
    <div class="form-group col-md-2 ml-2">
      <label class="font-weight-bold">Año</label>
    </div>
    <div class="form-group col-md-2 ml-2">
      <label class="font-weight-bold ">Curso</label>
    </div>
    <div class="form-group col-md-2 ml-2">
      <label class="font-weight-bold ">Cuota</label>
    </div> 
  </div> -->

<form class="mb-3" (ngSubmit)="guardarMatricula(miFor)" #miFor="ngForm">

    <div class="form-row">
      <div class="form-group col-md-2">
        <label class="font-italic font-weight-bold">Año</label>
        <input type="number" class="form-control"  #anyo="ngModel" name="anyo" [(ngModel)]="nuevaMatricula.ANYO_ACADEMICO">
      </div>
  
      <!-- <div class="form-group col-md-2 ml-2">
        <input type="number" class="form-control" #curso="ngModel" name="curso" [(ngModel)]="nuevaMatricula.COD_CURSO">
      </div>
   -->
   <div class="form-group col-md-3 ml-2">
    <label class="font-italic font-weight-bold">Curso</label>
    <select class="form-control" #curso="ngModel" name="curso" [(ngModel)]="nuevaMatricula.COD_CURSO">
      <option [value]="curso.COD_CURSO" *ngFor="let curso of listaCursos"
        [selected]="curso.COD_CURSO === nuevaMatricula.COD_CURSO">{{curso.DESC_CURSO}}
      </option>
    </select>
   
  </div>


    <div class="form-group col-md-2 ml-2 ">
        <label class="font-italic font-weight-bold">Cuota</label>
        <input type="number" class="form-control" #cuota="ngModel" name="cuota" [(ngModel)]="nuevaMatricula.CUOTA_MES">
    </div>

      <!-- <div *ngIf="nuevaMatricula.COD_MATRICULA===0" class="form-group col-md-2 ml-1 ">
        <label class="font-italic font-weight-bold">Operaciones</label>
        <button type="submit" class="col btn btn-outline-primary">
          <i class="fas fa-plus-square"></i>
          Guardar
        </button>
      </div>
      <div *ngIf="nuevaMatricula.COD_MATRICULA>0" class="form-group col-md-2 ml-1">
        <label class="font-italic font-weight-bold">Operaciones</label>
        <button type="submit" class="col btn btn-outline-primary">
          <i class="far fa-edit"></i>
          Editar
        </button>
        <button type="submit" class="col btn btn-outline-primary">
          <i class="far fa-edit"></i>
          Limpiar
        </button>
      </div>
 -->





      <div class="row ml-2 mt-1">
        <label class="font-italic font-weight-bold">OPERACIONES</label>
        <div *ngIf="nuevaMatricula.COD_MATRICULA===0"  class="col">
          <br>
          <button type="submit" class="col btn btn-outline-success">
            <i class="fas fa-plus-square"></i>     
          </button>
        </div>
  
        <div *ngIf="nuevaMatricula.COD_MATRICULA>0" class="col">
          <br>
          <button type="submit" class="col btn btn-outline-primary">
            <i class="far fa-edit"></i>
            
          </button>
        </div>
  
        <div *ngIf="nuevaMatricula.COD_MATRICULA>0" class="col">
          <br>
          <button type="submit" class="col btn btn-outline-warning" (click)="reiniciar()">
            <i class="fas fa-backspace"></i>  
          </button>
        </div>
      </div>














    
  
    </div>
  

</form> 



  <app-matriculas-grid *ngIf="matriculas.length>0"  (propagar)="procesaPropagar($event)" [matriculas]="matriculas"  (propagaEditar)="procesaPropagarEditar($event)"></app-matriculas-grid>