<div class="mt-2" id="htmlData">
  
  <!--
    <div class="mb-2 text-center text-capitalize font-weight-bold">
        <h4>MATRICULAS</h4>  
    </div>
-->


    <table *ngIf="matriculas.length > 0" class="table table-bordered table-striped">
      <thead class="thead-primary">
        <!--  <tr class="d-flex"> -->
        <tr class="table-primary">
          <th scope="col">Año</th>
          <th scope="col">Curso</th>
          <th scope="col">Cuota</th>
          <th scope="col">Operaciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let matricula of matriculas; let i=index">
  
          <td> {{ matricula.ANYO_ACADEMICO }}</td>
          <td> {{ matricula.DESC_CURSO }}</td>
          <td> {{ matricula.CUOTA_MES | number }}</td>
          
          <td>
             
            <button class="btn btn-danger mr-1" 
            data-toggle="tooltip" data-placement="top" title="Borrar"    
            (click)="eliminar(matricula.COD_MATRICULA, i)">
              <i class="fa fa-trash-alt"></i>
            </button>

            <button class="btn btn-success mr-1" 
            data-toggle="tooltip" data-placement="top" title="Editar"    
            (click)="editar(matricula)">              
            <i class="fa fa-pen"></i>
            </button>

              <!-- <button class="btn btn-outline-primary btn-sm ml-2" title="Seleccionar"
              data-toggle="tooltip" data-placement="top"
              [routerLink]="['/detalle_exp', expediente.NUM_EXPEDIENTE]" >
              <i class="fas fa-user-check"></i>
            </button> -->
          
          <!--  <button class="btn btn-outline-primary btn-sm ml-2" title="Seleccionar" data-toggle="tooltip"
              data-placement="center" type="button" (click)="verDetalleExp(expediente.NUM_EXPEDIENTE)">
              <i class="fas fa-user-check"></i>
            </button> -->
          
            <button class="btn btn-primary mr-1" title="Cuotas" data-toggle="tooltip"
            data-placement="center" type="button"
            (click)="verCuotas(matricula.ANYO_ACADEMICO,matricula.COD_MATRICULA, matricula.NUM_EXPEDIENTE, matricula.CUOTA_MES)">

            <i class="fas fa-euro-sign"></i>
          </button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
