<div class="mt-2" id="htmlData">
  <table *ngIf="expedientes.length > 0" class="table table-bordered table-striped">
    <thead class="thead-primary">
      <!--  <tr class="d-flex"> -->
      <tr class="table-primary">
        <th scope="col">Exp</th>
        <th scope="col">Alumno</th>
        <th scope="col">F.Naci</th>
        <th scope="col">Escuela</th>
        <th scope="col">F.Alta</th>
        <th scope="col">F.Motivo</th>
        <th scope="col">Motivo</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expediente of expedientes">

        <td> {{ expediente.NUM_EXPEDIENTE }}</td>
        <td> {{ expediente.NOMBRE_ALUMNO }}</td>
        <td> {{ expediente.FECHA_NACIMIENTO }}</td>
        <td> {{ expediente.DESC_ESCUELA }}</td>
        <td> {{ expediente.FECHA_ALTA }}</td>
        <td> {{ expediente.FECHA_VARIACION }}</td>
        <td> {{ expediente.DESC_VARIACION }}</td>
        <td>
           
            <!-- <button class="btn btn-outline-primary btn-sm ml-2" title="Seleccionar"
            data-toggle="tooltip" data-placement="top"
            [routerLink]="['/detalle_exp', expediente.NUM_EXPEDIENTE]" >
            <i class="fas fa-user-check"></i>
          </button> -->
        
          <button class="btn btn-outline-primary btn-sm ml-2" title="Seleccionar" data-toggle="tooltip"
            data-placement="center" type="button" (click)="verDetalleExp(expediente.NUM_EXPEDIENTE)">
            <i class="fas fa-user-check"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>